#title {
  text-align: center;
}

#bg {
  /* hero 한테 absolute 주려고 relative 속성 부여 */
  position: relative;

  /* width: 800px; */
  height: 500px;

  background-image: url("./images/bg.png");
  background-size: cover;

  margin: 0 200px;
}

#hero,
.stop,
.right,
.left {
  position: absolute;

  background-image: url("./images/hero.png");
  width: 35px;
  height: 54px;

  right: 0;
  bottom: 0;
}

.right {
  background-position: -105px;
}

.left {
  background-position: -70px;
}
.indi-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto 200px;
}

.indi-container .items1 {
  display: flex;
  flex-direction: column;
}

.indi-container .items2 {
  display: flex;
  flex-direction: column;
}

.item {
  width: 180px;
  height: 20px;
  border: 1px solid black;
}

#hearts {
  display: inline-block;
  background-image: url("./images/hearts.png");
  width: 80px;
  height: 16px;
  margin-left: 200px;
}
